# Python 기초 문법

### 주요 내용

1. int, str 등 주요 객체 형식
2. 리스트와 튜플, 딕셔너리의 이해

<br>

### 목표 
1. int, str 등 객체 형식에 따라 적절한 메서드를 활용한다.
2. 여러 개의 값을 리스트 형식 등으로 저장하고 활용한다.
3. 리스트와 튜플, 딕셔너리의 차이를 이해한다.


<br>
<hr>
<br>

> Python은 개발 언어로 분석 중심의 언어가 아닙니다. 0에서 1을 만드는 개발과 달리 데이터 분석은 데이터라는 재료를 활용하기 때문에 방대한 Python 기초 문법을 모두 배워야하는 것은 아닙니다. 필요하고 중요한 내용 중심으로 살펴보겠습니다.


<br>

## 1. 형식의 이해



<br>



### 1.1. 숫자와 문자, 출력과 저장(할당)

숫자는 그냥 입력하면 되고, 문자는 큰 따옴표나 작은 따옴표를 붙임  
`print( )` 함수를 써서 출력하거나 `=`을 써서 값을 객체로 저장할 수도 있음

In [ ]:
# 숫자와 연산
1 + 2 * 2 / 4

In [ ]:
# 문자
    ## 큰따옴표, 작은따옴표 차이 없음
'삼성전자'

In [ ]:
"삼성전자"

In [ ]:
"작은따옴표(' ')를 포함한 글자"

In [ ]:
# 할당(assign), 저장
    ## '+' : 숫자 덧셈 연산, 문자열 결합
a = '가나다'
b = '라마바'
a * 2

In [ ]:
# 업데이트
c = 0
c = 1
c

In [ ]:
# 자기 자신을 활용한 업데이트
c = c + 10
c += 100
    ## c += 100 : c = c + 100
c

In [ ]:
# print( )를 활용한 출력
    ## 숫자나 문자를 콤마(,)로 나열하면 출력
    ## 함수 안에서 Shift + Tab 눌러 도움말 보기

print(c, a, b)
print('DS', 'DX', 'GOOD')

In [ ]:
# 문자열의 f-string 메서드를 활용한 출력
    ## 콤마로 나열할 필요 없이 문자열 중간에 값을 넣어 출력 가능    

x=100
y=999

print('x는 {}이고, y는 {}이다'.format(x, y)) # 과거에 주로 활용

In [ ]:
print(f'x는 {x}이고, y는 {y}이다') # 최근에 주로 활용

#### [실습] x에 10.1을 저장하고, y에 101을 저장한 다음 더하기

In [ ]:
x = 10.1
y = 101
x + y

#### [실습] a=1, b=5로 할당하고 문자 'a + b는'과 a+b 계산 결과를 print( )로 함께 출력

출력 결과 예시  
`1 + 5는 6`

In [ ]:
a = 1
b = 5
print(f'{a} + {b}는 {a+b}')
print('{} + {}는 {}'.format(a, b, a + b))

<br>

#### [참고] print를 활용한 로그 저장

In [ ]:
from datetime import datetime
with open('log.txt', 'w') as f:
    time1 = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    print(f'{time1} - comments', file=f)


<br>
<br>

### 1.2. type( )을 활용한 데이터 타입(type, 형식) 확인 

`type( )`을 활용해서 각 데이터, 객체(object)의 타입을 확인

* int : 정수(integer)
* str : 문자열(string)
* float : 소수점, 비율을 포함한 실수

In [ ]:
type(1)

In [ ]:
type('가')

In [ ]:
type('1')

In [ ]:
type(1.0)

<br>

### 1.3.  비교 연산과 bool 형식의 이해
등호와 부등호를 활용해서 숫자를 비교(비교 연산)
`=`은 할당(저장)을 할 때 활용되므로 일치여부를 확인할 때는 `==`을 활용하고 불일치여부는 `!=`을 활용  

비교 연산 등의 결과로 **True** 혹은 **False**가 출력되는데 이렇게 참, 거짓 두개의 값을 갖는 객체는 *불(bool)* 형식으로 저장

In [ ]:
x=100
y=99

In [ ]:
x<=y

In [ ]:
y==9

In [ ]:
y!=9

In [ ]:
type(True)

1
1.0
'1'
c = True
False

<br>

### 1.4.  논리연산자
bool 형식을 활용한 논리 연산자
**and** 혹은 **or**

In [ ]:
True and False

#### [실습] 변수 x가 10이상 99ㅠ이하인지 확인하는 연산을 비교연산자와 논리연산자를 활용하여 구성하시오
x = 20

In [ ]:
x = 20
(x >= 10) and (x <= 99)

<br>

### 1.5.  데이터의 변환
파이썬의 내장함수를 활용하여 데이터를 변환
int(), float(), bool(), str() 함수 활용

In [ ]:
# 문자열 "10.1"을 float 내장함수를 활용하여 실수로 변환하시오.
float("10.1")
int("10")
str()

bool()

In [ ]:
# bool 함수를 활용하여 다음의 값을 불 데이터로 변환하시오.
# bool("samsung" )
# bool("")
# 10
# 1
bool(0)


<br>

## 2. 여러 값을 묶은 리스트(list)

`1`, `'삼성'`처럼 하나의 값이 아니라 여러개의 값을 묶으면 수열, 문자열이 생성  
Python에서는 **리스트(list)** 형식 등으로 수열, 문자열을 다룸  


### 2.1. 대괄호([ ])를 활용한 리스트 생성

In [ ]:
salary = [5000, 6000, 7000, 6000, 9000, "100"]
salary

In [ ]:
# 타입 확인 : list
type(salary)

In [ ]:
# 문자열 리스트
jobs = ['회로설계', '반도체공정설계', '신호 및 시스템 설계', 'S/W개발', '영업마케팅', '경영지원', '생산관리']
jobs

#### [실습] 1~45까지 숫자 중에서 마음대로 6개 숫자 선택해서 리스트로 만들어 저장하기



#### [실습] 점심/저녁 메뉴 3개를 리스트로 묶어 menu로 저장하기

In [ ]:
favorite_number = [1, 2, 3, 4, 5, 6]

In [1]:
menu = ['A', 'B', 'C']

In [ ]:
menu

<br>

### 2.2. 리스트의 주요 메서드

append( )는 리스트에 값을 추가하고, extend( )는 리스트에 또다른 리스트를 이어 붙임

In [4]:
# 리스트 만들기
salary = [5000, 6000, 7000, 6000, 9000]
salary

[5000, 6000, 7000, 6000, 9000]

In [ ]:
# 리스트에 항목 하나 추가하기
temp = 10000
salary.append(temp)
salary

In [ ]:
# 또다른 리스트를 이어 붙이기
temp = [6000, 5000]
salary.extend(temp)
salary

In [ ]:
b = [5500, 6500]
salary.append(b)
salary

#### [실습] 관심있는 메뉴 3개를 묶은 menu에 append( )로 메뉴 하나 더 추가하기

In [3]:
menu.append(['E', 'F'])
menu

['A', 'B', 'C', 'E', ['E', 'F']]

<br>

## 2.3. index의 활용   

리스트를 만들 때 사용한 대괄호와 별개로, 만들어진 리스트에 대괄호 인덱스를 활용해서 부분을 선택

In [6]:
# 대괄호 index를 활용한 부분 선택
    ## index는 0부터 시작 : 첫번째 값이 0
    ## 콜론(:)을 활용해 연속적인 인덱스 지정 가능(슬라이싱), 끝 인덱스 미포함
salary[0]

5000

In [9]:
print(salary)
salary[0:4:2]

[5000, 6000, 7000, 6000, 9000]

[5000, 7000]

In [10]:
# 인덱스를 활용한 업데이트
salary[0] = 50000
salary

[50000, 6000, 7000, 6000, 9000]

#### [실습] menu에서 첫번째 메뉴만 선택


#### [실습] menu에서 세번째 메뉴를 '우동'으로 변경

In [11]:
menu[0]

'A'

In [13]:
menu[2] = '우동'
menu

['A', 'B', '우동', 'E', ['E', 'F']]

In [17]:
salary.append([1, 2, 3])
salary[5][1]

2

### 2.4. 다양한 리스트 생성 방법
<br> 

#### 2.4.1. list( )의 활용

list( )로 빈 리스트를 만들거나 다른 타입의 값들을 리스트 형식으로 변환

In [19]:
a = list()
print(a)

a.append('2023-12-25')
print(a)

a.append('2023-12-31')
print(a)

[]
['2023-12-25']
['2023-12-25', '2023-12-31']




#### 2.4.2. range( )를 활용한 수열 만들기

##### range(stop)
##### range(start, stop[, step])

연속적인 수열을 만들 때는 range( )를 활용

In [21]:
# 0부터 시작하는 range
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# range( )와 list( )를 활용한 수열 생성
list(range(10))

In [22]:
list(range(1, 20))
    ## 1부터 20 바로 앞 19까지

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [23]:
list(range(1, 20, 3))
    ## 1부터 19까지 3간격

[1, 4, 7, 10, 13, 16, 19]

#### [실습] range( )와 list( )로 2002년부터 2023년까지 월드컵 개최연도 만들기

In [24]:
list(range(2002, 2024 ,4))

[2002, 2006, 2010, 2014, 2018, 2022]

<br>

## 3. 여러 값을 묶은 튜플(tuple)과 딕셔너리(Dictionary)

<br>

### 3.1. 튜플

> 리스트와 비슷하게 여러개의 값을 묶지만, 값 변경이 불가능해서 데이터 분석에서 활용도는 떨어집니다. 다만, 전체 분석과정에서 절대 바뀌지 않는 값 묶음이 있다면, 튜플 형식을 활용할 수 있습니다.  

튜플은 소괄호를 활용해서 만들 수 있고, 소괄호는 생략 가능

In [25]:
aa = (1, 2, 3)
bb = '아침', '점심', '저녁'
print(aa)
print(bb)

(1, 2, 3)
('아침', '점심', '저녁')

In [26]:
# 인덱스 활용 가능
print(aa[0])
print(bb[1:])

1
('점심', '저녁')

In [28]:
# 추가/업데이트 불가능
aa[0] = 4

TypeError: 'tuple' object does not support item assignment

### 3.2. 딕셔너리

딕셔너리는 **키(key)** 와 **값(value)** 을 연결한 **쌍** 을 활용해서 여러 값을 구분해서 저장  

딕셔너리는 중괄호 `{ }`를 활용하고 아래와 같은 방법으로 생성합니다. 

```[Python]
{'key1':'value1', 'key2':'value2', 'key3':'value3', ...}
```

> 리스트가 `연봉`처럼 여러 관측치의 동일한 속성을 저장한다면, 딕셔너리는 하나의 대상에 대해서 키라고 부르는 여러 속성의 값을 저장합니다.

In [30]:
# 이 강의의 속성을 딕셔너리로 저장
this_lecture = {'회사':'삼성전자', '분석도구':'Python', '기간':'3일'}
type(this_lecture)

dict

In [35]:
# 대괄호와 키를 활용한 선택
    ## 리스트의 인덱스 대신 키를 활용
this_lecture['회사1']

KeyError: '회사1'

In [45]:
# 메서드 get()을 활용한 선택
this_lecture.get('회사')

In [48]:
# 쌍 추가 
this_lecture['수강인원'] = 30
this_lecture

{'회사': '삼성전자', '분석도구': 'Python', '기간': '3일', '수강인원': 30}

In [50]:
# 쌍 제거
del this_lecture['기간']
this_lecture

KeyError: '기간'

In [51]:
# 키 목록 선택
this_lecture.keys()

dict_keys(['회사', '분석도구', '수강인원'])

In [52]:
# 리스트 형식으로 변환
list(this_lecture.keys())

['회사', '분석도구', '수강인원']

In [53]:
# 값 목록 선택
this_lecture.values()

dict_values(['삼성전자', 'Python', 30])

#### [실습] 각자 본인의 아래 정보를 딕셔너리로 저장

(딕셔너리의 값(value)에 리스트를 넣는 것도 가능)

* 이름
* 부서
* 연차
* 관심메뉴(위에서 만든 menu를 값으로 지정)

In [54]:
my_info = {'이름': '김상일', '부서': '교육', '연차': '1', '관심메뉴': menu}
my_info

{'이름': '김상일', '부서': '교육', '연차': '1', '관심메뉴': ['A', 'B', '우동', 'E', ['E', 'F']]}

In [56]:
my_info['관심메뉴'][2]

'우동'

<br>

## 4. 흐름 제어문의 활용

### 4.1. if 조건문  

**if** 를 활용하여 특정한 상황에서만 명령어를 실행 가능  
**else**나  **elif**를 추가로 활용 가능

In [ ]:
# if의 활용
score=10

if score >= 80:
    print('합격')

In [ ]:
# if와 else의 활용
score=10

if score >=80:
    print('합격')
else:
    print('탈락')

In [ ]:
# if와 elif와 else의 활용
score = 0 # 결측

if 조건식2-1:
    print('2')
print('3')

In [57]:
score = 30

# 70점 미만 - C 
# 80점 미만 - B
# 90점 미만 - A
# 100점 이하 - EX

if score < 70:
    print("C")
elif score < 80:
    print("B")
elif score < 90:
    print("A")
else:
    print("EX")

C

<br>

### 4.2. for 반복문
**for**는 반복 대상을 지정하고 특정한 명령을 반복 실행

In [ ]:
# 간단한 for 예제
count = 0
target = [11,12,13]

for i in target:
    count += 1 ## 반복할 때마다 1씩 증가    
    print(f'{count}번째 값은 {i}')

In [ ]:
count

In [58]:
# for문 안에서 if문을 활용
m2 = []

for a in list(range(1,101)):
    if (a % 7) == 0: # 7로 나눈 나머지가 0이면
        m2.append(a)

In [59]:
m2

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

#### [ 참고] []와 for, if의 활용

리스트를 만드는 [] 안에서 for와 if를 활용할 수도 있음

In [ ]:
[x for x in range(1,101) if x%7==0]

<br>

#### [실습]

1. 구구단 19단 출력하기  
`19 X 1 = 19`  
`19 X 2 = 38 ... ` 

2. 구구단 2단부터 9단까지 출력하기

3. 아래의 숫자 리스트 *x* 에서 10 이상인 숫자만 따로 모아 합계 계산하기

In [64]:
#1, 2. 참고
# level [2, 3, 4, 5, 6, 7, 8, 9]
for level in list(range(2, 10)):
    for step in list(range(1, 10)):
        print(f'{level} X {step} = {level * step}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [66]:
#3. 
total = 0
x = [9, 10, 4, 22, 3, 19]

for var in x:
    if var >= 10:
        total += var
        
print(f'합계는 {total}입니다.')

합계는 51입니다.